.page3{
    height: 100%;
    width: 100%;
    background: #fff;
    background-size: cover;
    padding-top: 2%;
    position: relative;
}

.page3 h1{
    color: #111;
    text-align: center;
    font-size: 8vw;
}

.page3 p{
    margin-top: 2%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    color: #111111;
    font-size: 2vw;
    text-align: center;
}
/* swiper styling starts */

.swiper{
    width: 100%;
    height: 69%;
    display: flex;
    align-items: center;
    gap: 4vw;
    overflow-x: hidden;
    position: relative;
}

  .card-container {
    perspective: 1000px;
}

.card-container:nth-child(1){
    margin-left: 50%;
}

.card {
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h2 {
    font-size: 1.5em;
    color: #263238; /* Dark Blue Gray Text Color */
    margin-bottom: 20px;
}

.card-content img {
    width: 100%;
    border-radius: 10px;
}

.arrow-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #37474F; /* Blue Gray Background */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    transform: rotateY(15deg);
}

.roter{
    height: 200px;
    width: 200px;
    background: url("/assets/images/wheel.png");
    background-size: cover;
    position: absolute;
    top: 26%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.right-roter{
    height: 200px;
    width: 200px;
    background: url("/assets/images/wheel.png");
    background-size: cover;
    position: absolute;
    top: 26%;
    left: 80%;
    transform: translate(-50%, -50%);
}

@media (max-width : 600px){
    .page3 h1{
        font-size: 6vh;
    }
    .page3 p{
        font-size: 2vh;
    }
    .roter{
        height: 100px;
        width: 100px;
        top: 15%;
        left: 10%;
    }
    .right-roter{
        height: 80px;
        width: 80px;
        top: 15%;
        left:90%;
    }
}

@media (max-width : 768px),(min-height:600px){
    .roter{
        height: 150px;
        width: 150px;
    }
    .right-roter{
        height: 150px;
        width: 150px;
    }
}